<md-sidenav-container>
  <md-sidenav #sidenav mode="over" opened="false">
    <div class="side-nav-wrapper">
      <span id="logo"><a href=""><img src="../assets/logo.png" alt="Logo"></a></span>
      <nav>
        <dl>
          <dt><a href="/">Home</a></dt>
          <dt><a href="/">Repository</a></dt>
          <dt><a href="/">Meetings</a></dt>
        </dl>
      </nav>
    </div>
  </md-sidenav>

    <md-toolbar color="primary" id="header-wrapper">
      <span id="header-title">Steuerverwaltung</span>
    </md-toolbar>
    <nav>
      <button class="hamburger-button" (click)="sidenav.toggle()">
        <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
      </button>
    </nav>
    <form id="search-form" action="../search.html" method="GET">
      <div class="search-widget">
        <button class="search-button" (click)="toggleSearchForm()"><i class="material-icons">search</i></button>
        <button class="search-close-button"><i class="material-icons">close</i></button>
        <input name="q" type="text" id="search-input" autocomplete="off">
        <label for="search-input">Search</label>
      </div>
    </form>

    <h1>{{title}}</h1>
    <plone-navigation></plone-navigation>
    <traverser-outlet></traverser-outlet>
</md-sidenav-container>
<debug-bar></debug-bar>
