<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="false">
    <div class="side-nav-wrapper">
    <h3 id="header-title">Ordnungssystem</h3>
      <nav>
        <plone-navigation></plone-navigation>
      </nav>
    </div>
  </md-sidenav>

    <md-toolbar color="secondary" id="header-wrapper">
      <span id="logo"><a traverseTo="/"><img src="../assets/logo.png" alt="Logo"></a></span>
    </md-toolbar>
    <nav>
      <button class="hamburger-button" (click)="sidenav.toggle()">
        <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
      </button>
    </nav>

    <main-navi></main-navi>

    <div class="ui container">
      <div class="ui segments">
      <div class="ui segment">
      </div>
        <div class="ui segment">
          <traverser-outlet></traverser-outlet>

        </div>
      </div>
    </div>

</md-sidenav-container>
<debug-bar></debug-bar>
