<div id="header-wrapper">
<div id="navi-wrapper">
    <div id="navi" class="fixedWidth">
        <div class="cell position-0 width-16">
            <div class="row">
                <ul id="portal-globalnav" class="clearfix">

                    <li id="portaltab-index_html" class="selected">
                        <a traverseTo="/" title="">Übersicht<div class="triangle">&nbsp;</div></a>
                    </li>

                    <li id="portaltab-my_repository" class="plain">
                        <a traverseTo="/private/zopemaster" title="">Meine Ablage</a>
                    </li>

                    <li id="portaltab-ordnungssystem" class="plain">
                        <a traverseTo="/ordnungssystem" title="">Ordnungssystem</a>
                    </li>

                    <li id="portaltab-eingangskorb" class="plain">
                        <a traverseTo="/eingangskorb" title="">Eingangskorb</a>
                    </li>
                    <li id="portaltab-vorlagen" class="plain">
                        <a traverseTo="/vorlagen" title="">Vorlagen</a></
                    li>

                    <li id="portaltab-kontakte" class="plain">
                        <a traverseTo="/kontakte" title="">Kontakte</a>
                    </li>

                    <li id="portaltab-sitzungen" class="plain">
                        <a traverseTo="/sitzungen" title="">Sitzungen</a>
                    </li>
                </ul>

                <div id="navi-search-wrapper">
                    <div id="navi-searchbox"></div>
                </div>
                <div class="visualClear"></div>
            </div>
        </div>
    </div>
    <div class="visualClear"></div>

</div>
</div>
